version: '3.8'

services:
  db:
    image: postgres:16
    container_name: base_project_db
    environment:
      POSTGRES_DB: base_project
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always

volumes:
  db_data:
